.comments
	+adap('padding', 40, 16)
	+bx
	+adap('border-radius', 40, 16)

	&__wrapper
		&:empty 
			display: none 

	&__top 
		display: grid
		gap: 8px

		position: sticky
		bottom: 12px

		&:after
			content: ''
			position: absolute
			left: 0
			top: 100%
			width: 100%
			+adap('height', 40, 16)
			background: #fff



:root
	interpolate-size: allow-keywords
  
.comment
	position: relative
	+adap('margin-bottom', 24, 12)

	+t

	&:after
		content: ''

		position: absolute
		left: 0
		+adap('bottom', -12, -6)

		width: 100%
		height: 1px
		background: var(--gray)

	&:last-child
		&:after
			background: transparent 

	&.bounceOutTop 
		animation: fadeInTop .4s forwards
 
	&.bounceOutLeft 
		height: 0
		margin: 0 !important
		padding: 0 !important
		translate: -100px 0
		opacity: 0
		border: 0

	&_deleted
		&>.comment__content>.comment__text 
			color: var(--gray_dark)

	&__header
		display: flex
		align-items: center 
		justify-content: space-between
		gap: 12px

	&__header,
	&__text
		margin-bottom: 12px

	&__edited 
		margin-right: auto
		font-size: 12px
		color: var(--gray_dark)

	&__author 
		display: flex
		align-items: center
		gap: 8px
		
		&-img 
			+adap('width', 48, 32)
			+adap('height', 48, 32)

			border-radius: 50% 
			object-fit: cover

	&__date,
	&__like,
	&__dislike,
	&__reply 
		display: flex
		align-items: center
		gap: 4px
		+t

		&[disabled], &.disabled
			pointer-events: none  

		svg 
			width: 1em
			height: 1em

			fill: currentColor
			transition: none 

		+hov
			&:not(.active, .disabled)
				color: var(--text)
	
	&__like 
		&.active  
			color: var(--active)

			svg  
				fill: var(--active)

	&__dislike
		&.active  
			color: #f03

			svg  
				fill: #f03

	&__like,
	&__dislike
		span 
			width: 13px
			 
	&__meta 
		display: flex
		align-items: center
		gap: 12px
		// margin-bottom: 12px
 
		font-weight: 500 
			
		&+:is(.comment, .comment-add)
			// margin-top: -12px

	&__delete 
		&.disabled  
			opacity: .8
			pointer-events: none

	& &
		margin-top: 12px
		+adap('margin-left', 60, 32)

	&-add 
		position: relative
		display: grid
		+adap('gap', 12, 8)

		// &:not(:last-child)
		// 	margin-bottom: 20px

		&__fields 
			// position: relative
			// display: flex
			// align-items: center
			// gap: 12px
			// flex-wrap: wrap

		&__row 
			position: relative
			width: 100%
			display: flex
			gap: 8px
			align-items: start

		&__button 
			display: flex
			align-items: center
			justify-content: center
			min-width: auto
			padding: 4px

			border-radius: 8px
			aspect-ratio: 1

			&:after
				content: ''

				width: 50%
				height: 50%

				+mask(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z'/%3E%3C/svg%3E") center / contain no-repeat, #fff)

		textarea 
			width: 100%
			flex-grow: 1
			
			@supports (field-sizing: content)
				field-sizing: content
				height: auto
				+adap('padding-block', 14.75, 12.5)

	& &-add
		display: grid
		height: 0
		min-height: 1px
		translate: 0 -12px
		opacity: 0
		pointer-events: none
		+t


		&.active
			+adap('margin-block', 20, 12)
			height: auto
			grid-template-rows: 1fr
			opacity: 1
			translate: 0 0
			pointer-events: auto


		// height: 0
		// overflow: hidden
		// opacity: 0 
		// +t
		// pointer-events: none
		// translate: 0 -20px

		// &.active
		// 	height: calc-size(auto, size)
		// 	+adap('margin-block', 20, 12)
		// 	opacity: 1
		// 	translate: 0 0
		// 	pointer-events: auto



	&__content 
		position: relative

	&__edit 
		&-actions 
			height: 0
			min-height: 1px
			translate: 0 -20px
			opacity: 0
			+t
			pointer-events: none

			&.active 
				height: auto
				margin-bottom: 8px
				translate: 0 0
				opacity: 1
				pointer-events: auto






























