.services
	&__item
		display: grid
		grid-template-rows: auto 1fr 
		+adap('padding', 20, 16)
		height: 100%

		background: #fff
		border-radius: $border-radius

		&-top 
			display: grid
			grid-template-columns: auto 1fr 
			gap: 12px
			align-items: center
	
		&-icon 
			+adap('width', 64, 48)
			+adap('height', 64, 48)

		&-content 
			display: grid
			grid-template-rows: 1fr auto

	@media (max-width: 767px)
		&__wrapper
			grid-template-columns: 100%

	 
	
	
	 
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
